<div class="card-body" style="padding: 0rem; margin: 0rem;" [hidden]="hiddenTable">
    <h5 class="card-title text-center">Commandement</h5>

    <div class="table-responsive" style="padding: 0rem; margin: 0rem;">
        <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
            <tbody>
                <tr>
                    <th class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Des ecoles</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('ecole')">Details</span>
                            </div>
                        </div>
                    </th>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Administratif</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('administratif')">Details</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Service Sante</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('sante')">Details</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Centre Technique</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('technique')">Details</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Inspection Interne</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('inspection')">Details</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Etat Major</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('etat-major')">Details</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Gendarmerie Mobile</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('mobile')">Details</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="card w-100" style="height: 6rem; margin-bottom: 2rem" >
                            <div class="card-body">
                                <h5 class="card-title text-center">Gendarmerie Territoriale</h5>
                                <span class="badge badge-pill badge-primary mouse" (click)="navigatTo('territorial')">Details</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>