<div class="card border-light sticky-top">
  <selector-header></selector-header>
    <!-- Default card contents -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">RH</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link"routerLink="/users/account/">Gestion Utilisateur <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users/unite">Gestion Commandemant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users/sanction">Gestion Décoration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users/diplomes">Gestion Diplomes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users/grades">Gestion Grades</a>
                </li>
            </ul>
        </div>
    </nav>
</div>