<style>
    .fixedcard {
        max-height:300px;
        overflow:auto;
    }
    .fixedcardtwo {
        max-height:200px;
        overflow:auto;
    }
</style>
<div class="row">
    <div class="col-md-4 col-sm-12 col-12">
        <div class="card border-info">
            <div class="card-header bg-primary text-white" style="margin: 0rem;">Effectif candidat / session en cours</div>
            <div class="card-body fixedcard" style="margin: 0rem;">
                <h6 class="card-title">Session-12: <span class="badge badge-pill badge-danger">1000</span> </h6>
                
                <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                    <tbody>
                        <tr>
                            <th>Nombre de homme</th>
                            <td><span class="badge badge-pill badge-primary">900</span></td>
                        </tr>
                        <tr>
                            <th>Nombre de femme</th>
                            <td colspan="2"><span class="badge badge-pill badge-primary">100</span></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h6 class="card-title">Session-10: <span class="badge badge-pill badge-danger">150</span> </h6>
                <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                    <tbody>
                        <tr>
                            <th scope="row">Nombre de homme</th>
                            <td><span class="badge badge-pill badge-primary">100</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre de femme</th>
                            <td colspan="2"><span class="badge badge-pill badge-primary">50</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
        <div class="card border-info">
            <div class="card-header bg-primary text-white" style="margin: 0rem;">Effectif admis / Session en cour</div>
            <div class="card-body fixedcard" style="margin: 0rem;">
                <h6 class="card-title">Session-12: <span class="badge badge-pill badge-danger">50</span> </h6>
            
                <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                    <tbody>
                        <tr>
                            <th>Nombre de homme</th>
                            <td><span class="badge badge-pill badge-primary">40</span></td>
                        </tr>
                        <tr>
                            <th>Nombre de femme</th>
                            <td colspan="2"><span class="badge badge-pill badge-primary">10</span></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h6 class="card-title">Session-10: <span class="badge badge-pill badge-danger">50</span> </h6>
                <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                    <tbody>
                        <tr>
                            <th scope="row">Nombre de homme</th>
                            <td><span class="badge badge-pill badge-primary">40</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre de femme</th>
                            <td colspan="2"><span class="badge badge-pill badge-primary">10</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4 col-sm-12 col-12" >
        <div class="row">
            <div class="col-12">
                <div class="card border-info fixedcardtwo" style="padding: 0rem; margin: 0rem;">
                    <div class="card-header bg-primary text-white" style="padding: 0rem; margin: 0rem;">
                        <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                            <tbody>
                                <tr>
                                    <th scope="row">Effectif Gendarme Auxiliaire</th>
                                    <td colspan="3"><span class="badge badge-pill badge-danger">50</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body" style="padding: 0rem; margin: 0rem;">
                        <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                            <tbody>
                                <tr>
                                    <th scope="row">Nombre de homme</th>
                                    <td><span class="badge badge-pill badge-primary">40</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombre de femme</th>
                                    <td colspan="2"><span class="badge badge-pill badge-primary">10</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-info fixedcardtwo" style="padding: 0rem; margin-top: 1rem;">
                    <div class="card-header bg-primary text-white" style="padding: 0rem; margin: 0rem;">
                        <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                            <tbody>
                                <tr>
                                    <th scope="row">Effectif Reserviste</th>
                                    <td colspan="3"><span class="badge badge-pill badge-danger">50</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body" style="padding: 0rem; margin: 0rem;">
                        <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                            <tbody >
                                <tr>
                                    <th scope="row">Nombre de homme</th>
                                    <td><span class="badge badge-pill badge-primary">40</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombre de femme</th>
                                    <td colspan="2"><span class="badge badge-pill badge-primary">10</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>