<div class="card border-light sticky-top">
    <selector-header></selector-header>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
              <br>
              <!--
                  Menu Principale module general
              -->
            <div class="card text-white mb-1">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-users" aria-selected="false" routerLink="/general/dashboad/">
                            Accueil </a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-users" #damRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/general/recrutement/">
                            DAM </a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-graduation" #dccRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/general/reserviste">
                            DCC</a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-unite" #dgpRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/general/auxiliaire">
                            DGP</a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-sanction" #difRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/general/archive">
                            DIF</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="card border-light">
                    <div class="card-body">
                        <router-outlet></router-outlet>                
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
