<selector-navbar></selector-navbar>
<div class="container">
    <br>
    <br>
    <div class="offset-sm-4 col-sm-4">
        <form class="form-signin text-center" #signinPanelForm="ngForm">      
            <div class="text-center mb-4">
                <img class="mb-4" src="assets/images/logo_gend_sn.png" alt="" width="100" height="150">
                <div *ngIf="msgerror" class="alert alert-danger" role="alert">
                    {{msgerror | json}}
                </div>
                <!--
                <div class="d-inline p-2 bg-primary text-white">
                    <img class="rounded-circle" src="assets/images/loading-icon.gif" alt="...">
                </div>
                -->
            </div>
            <div class="checkbox mb-3">
                <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
                <input type="text" class="form-control" name="inputUsername" [(ngModel)]="signinModel.username" placeholder="nom d'utilisateur" required autofocus>
            </div>
            <div class="checkbox mb-3">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" class="form-control" name="inputPassword" [(ngModel)]="signinModel.password" placeholder="mot de passe" required>
            </div>
            <div class="checkbox mb-3">
                <!-- <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            -->
            </div>
            <div [hidden]="btnLogin ==='Authentification'">
                <button class="btn {{btnClass}} btn-block btn-primary" [disabled]="!signinPanelForm.form.valid"  type="button" (click)="signin()">
                        {{btnLogin}} 
                </button>
            </div>
            <div [hidden]="btnLogin !=='Authentification'"><img src="assets/images/Spinner-33px.gif" alt=""></div>
            <p class="mt-5 mb-3 text-muted">&copy; Gendarmerie-2018</p>
        </form>
    </div>
</div>