<div class="card card-cascade narrower mt-5">

        <!--Card image-->
        <div class="view view-cascade gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

          <h4 class="white-text font-weight-bold text-uppercase mb-0">Liste punition</h4>

        </div>
        <!--/Card image-->

        <div class="px-4">

          <!--Table-->
          <table id="example" class="table table-hover table-responsive-md mb-0">

              <!--Table head-->
              <thead>
                  <tr>
                      <th scope="row"></th>
                      <th class="th-lg"> Nom punition</th>
                      <th class="th-lg"> Type de punition</th>
                      <th class="th-lg"> type d' officier</th>
                      <th></th>
                      <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">
                            add
                        </button></th>
                  </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                    <tr *ngFor="let punition of datas ">
                        <th scope="row"></th>
                        <td>{{punition.nom_punition}}</td>
                        <td>{{punition.type_punition}}</td>
                        <td>{{punition.type_officier}}</td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" (click)="btnEdit(punition)" data-target="#edit">edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" (click)="btnDelete(punition)" data-target="#modalConfirmDelete">delete</button>
                        </td>
                    </tr>
              </tbody>
              <!--Table body-->
              <tbody *ngIf="!datas.length">
                  <tr>
                      <th scope="row"> </th>
                      <td></td>
                      <td>Vide</td>
                      <td></td>
                      <td></td>
                  </tr>
            </tbody>
              <!--Table body-->
          </table>
        </div>

        <hr class="my-0">

        </div>

        <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!--Modal: Contact form-->
        <div class="modal-dialog cascading-modal" role="document">

          <!--Content-->
          <div class="modal-content">

              <!--Header-->
              <div class="modal-header primary-color white-text">
                  <h4 class="title">
                      <i class="fa fa-pencil"></i> Ajout Punition</h4>
                  <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <!--Body-->
              <div class="modal-body">

                  <form #recom="ngForm">
                      <!-- Material input name -->
                  <div class="form-group">
                        <label for="type">Type de punition</label>
                        <select  id="type" [(ngModel)]="recom.type_punition" name="type_punition" class="form-control">
                          <option>Punition statuaire</option>
                          <option>Punition normale</option>
                        </select>
                  </div>

                  <div class="form-group">
                    <label for="officier">Type d'officier</label>
                    <select  id="officier" [(ngModel)]="recom.type_officier" name="type_officier" class="form-control">
                      <option>Sous officiers de carrière - commisionnées</option>
                      <option>Autres sous officiers</option>
                      <option >Tous les sous officiers</option>
                    </select>
              </div>

                  <!-- Material input libelle -->
                  <div class="form-group">
                      <label for="nom" >Nom punition</label>
                      <input type="text" id="nom" class="form-control" [(ngModel)]="recom.nom_punition" name="nom_punition">
                </div>


                      <button (click)="recordPunition(recom)" data-dismiss="modal" class="btn btn-primary form-control">Valider
                          <!--<i class="fa fa-send ml-2"></i>-->
                      </button>

                  </form>

              </div>
          </div>
          <!--/.Content-->
        </div>
        <!--/Modal: Contact form-->
        </div>

        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <!--Modal: Contact form-->
            <div class="modal-dialog cascading-modal" role="document">

                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header primary-color white-text">
                        <h4 class="title">
                            <i class="fa fa-pencil"></i> Editer Punition</h4>
                        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">

                        <form >
                            <div class="form-group">
                              <label for="type">Type de punition</label>
                              <select  id="type" name="type_punition" value="{{type_punition_edited}}" [(ngModel)]="type_punition_edited" class="form-control">
                                <option >Punition statuaire</option>
                                <option >Punition normale</option>
                              </select>
                        </div>

                        <div class="form-group">
                          <label for="officier">Type d'officier</label>
                          <select  id="officier" value="{{type_officier_edited}}" [(ngModel)]="type_officier_edited" name="type_officier" class="form-control">
                            <option >Sous officiers de carrière - commisionnées</option>
                            <option >Autres sous officiers</option>
                            <option >Tous les sous officiers</option>
                          </select>
                    </div>

                        <!-- Material input name -->
                        <div class="form-group">
                          <label for="nom" >Editer libelle</label>
                          <input id="nom" type="text" value="{{nom_punition_edited}}" [(ngModel)]="nom_punition_edited" name="nom_punition" id="form1" class="form-control">
                      </div>


                            <button (click)="editerRecompense(type_punition_edited, type_officier_edited, nom_punition_edited)" class="btn btn-primary form-control" data-dismiss="modal">Valider
                                <!--<i class="fa fa-send ml-2"></i>-->
                            </button>

                        </form>
                    </div>
                </div>
                <!--/.Content-->
            </div>
            <!--/Modal: Contact form-->
          </div>

        <!--Modal: modalConfirmDelete-->
        <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content text-center">
                    <!--Header-->
                    <div class="modal-header d-flex justify-content-center">
                        <p class="heading">Etes-vous sure?</p>
                    </div>

                    <!--Body-->
                    <div class="modal-body">



                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">
                        <a href="#" class="btn  btn-outline-danger" (click)="delete()" data-dismiss="modal">Yes</a>
                        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalConfirmDelete-->



<div *ngIf="succes_action" class="alert alert-success alert-dismissible fade show floa" role="alert">
    <strong>Action réussie!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>