<div class="w3-display-topright w3-padding">
    <div *ngIf="succes_action" class="alert alert-success alert-dismissible fade show floa" role="alert">
        <strong>Action réussie!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="card card-cascade narrower mt-5">
    <!--Card image-->
    <div class="view view-cascade gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">
        <h4 class="white-text font-weight-bold text-uppercase mb-0">Liste punition</h4>
    </div>
    <!--/Card image-->
    <div class="px-4">
        <!--Table-->
        <table id="example" class="table table-hover table-responsive-md mb-0">
            <!--Table head-->
            <thead>
                <tr>
                    <th scope="row"></th>
                    <th class="th-lg"> Nom punition</th>
                    <th class="th-lg"> Type de punition</th>
                    <th class="th-lg"> type d' officier</th>
                    <th></th>
                    <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">
                        ajouter
                    </button></th>
                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                <tr *ngFor="let punition of punition_data ">
                    <th scope="row"></th>
                    <td>{{punition.nom_punition}}</td>
                    <td>{{punition.type_punition}}</td>
                    <td>{{punition.type_officier}}</td>
                    <td>
                        <span class="badge badge-pill badge-success mouse" data-toggle="modal"
                            (click)="btnEdit(punition)" data-target="#edit">éditer
                        </span>
                    </td>
                    <td>
                        <span class="badge badge-pill badge-danger mouse" data-toggle="modal"
                            (click)="btnDelete(punition)" data-target="#modalConfirmDelete">supprimer
                        </span>
                    </td>
                </tr>
            </tbody>
            <!--Table body-->
            <tbody *ngIf="!punition_data.length">
                <tr>
                    <th scope="row"> </th>
                    <td></td>
                    <td>Vide</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
    </div>

</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header primary-color white-text">
                <h4 class="title">
                    <i class="fa fa-pencil"></i> Ajout Punition</h4>
                <button type="button" class="close waves-effect waves-light" (click)="punition.reset()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form #punition="ngForm">
                    <!-- Material input name -->
                    <div class="form-group">
                        <label for="type">Type de punition</label>
                        <select  id="type" class="form-control"
                            required
                            [(ngModel)]="punition.type_punition" name="type_punition" #type="ngModel" >
                            <option>Punition statuaire</option>
                            <option>Punition normale</option>
                        </select>
                    </div>
                    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
                        <div *ngIf="type.errors.required">
                            Le type de la punition est requis.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="officier">Type d'officier</label>
                        <select  id="officier" class="form-control"
                            required
                            [(ngModel)]="punition.type_officier" name="type_officier" #officier="ngModel" >
                            <option>Sous officiers de carrière - commisionnées</option>
                            <option>Autres sous officiers</option>
                            <option >Tous les sous officiers</option>
                        </select>
                    </div>
                    <div *ngIf="officier.invalid && (officier.dirty || officier.touched)" class="alert alert-danger">
                        <div *ngIf="officier.errors.required">
                            Le type d'officier est requis.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nom" >Nom punition</label>
                        <input type="nom" id="form1" class="form-control" id="nom"  name="nom_punition"
                            required minlength="4"
                            [(ngModel)]="punition.nom_punition" #nom="ngModel">
                    </div>
                    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
                        <div *ngIf="nom.errors.required">
                            Le nom de la punition est requis.
                        </div>
                        <div *ngIf="nom.errors.minlength">
                            Le nom de la punition doit avoir plus de 4 lettres.
                        </div>
                    </div>
                    <button class="btn btn-primary form-control" data-dismiss="modal"
                        [disabled]="!punition.form.valid"
                        (click)="addPunition(punition); punition.reset()">
                        Valider
                    </button>

                </form>

            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header primary-color white-text">
                <h4 class="title">
                    <i class="fa fa-pencil"></i> Editer Punition</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form #edit="ngForm">
                    <div class="form-group">
                        <label for="type">Type de punition</label>
                        <select  id="type" name="type_punition" value="{{type_punition_edited}}"
                            [(ngModel)]="type_punition_edited" class="form-control">
                            <option >Punition statuaire</option>
                            <option >Punition normale</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="officier">Type d'officier</label>
                        <select  id="officier" value="{{type_officier_edited}}"
                            [(ngModel)]="type_officier_edited" name="type_officier" class="form-control">
                            <option >Sous officiers de carrière - commisionnées</option>
                            <option >Autres sous officiers</option>
                            <option >Tous les sous officiers</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="nom" >Editer libelle</label>
                        <input id="nom" type="text" value="{{nom_punition_edited}}"
                            required minlength="4"
                            [(ngModel)]="nom_punition_edited"
                            name="nom_punition" id="form1" class="form-control" #lib="ngModel">
                    </div>
                    <div *ngIf="lib.invalid && (lib.dirty || lib.touched)" class="alert alert-danger">
                        <div *ngIf="lib.errors.required">
                            Le nom de la punition est requis.
                        </div>
                        <div *ngIf="lib.errors.minlength">
                            Le nom de la punition doit avoir plus de 4 lettres.
                        </div>
                    </div>
                    <button class="btn btn-primary form-control" data-dismiss="modal"
                        [disabled]="!edit.form.valid"
                        (click)="upgradePunition(type_punition_edited, type_officier_edited, nom_punition_edited)">
                        Valider
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Etes-vous sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">


            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="#" class="btn  btn-outline-danger" (click)="deletePunition()" data-dismiss="modal">Yes</a>
                <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmDelete-->





