<div class="container">
  	<br><hr><br>
  <div class="row">
    <div class="col">
      <h2 align="left">Demandes en cours</h2><br><br>
      <h6 align="left">Reclassement: 5</h6><br>
      <h6 align="left">Equivalence: 10</h6><br>
      <h6 align="left">Homologation: 2</h6><br>
    </div>
    <div class="col">
      <h2 align="left">Demandes traitées</h2><br><br>
      <h6 align="left">Reclassement: 5</h6><br>
      <h6 align="left">Equivalence: 10</h6><br>
      <h6 align="left">Homologation: 2</h6><br>
    </div>
  </div>
</div>