
<div class="">
    <div class="">
        <h2 align="left">Personnes désignées</h2><br>


        <!-- Affiche la liste des personnes désignées -->
        
         <!-- <div *ngIf="!grades" class="alert alert-info" style="width: 70%; margin: auto;">
          <strong>Information!</strong> Vous n'avez pas de catégories créés dans la base de données. Cliquez <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">ici</a> pour en ajouter.
        </div> -->

        <div class="container" style="position: relative; padding: 10px; margin: auto;">
          <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Libellé</th>
            <th scope="col">Demande</th>
            <th scope="col">Imputée</th>
            <th scope="col">Matricule</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Service</th>
            <th scope="col">Date de demande</th>
            <th scope="col">Date de validation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <th>Diplôme de Technicien Supérieure</th>
            <td>Homologation </td>
            <td>Ministère de l'enseignement supérieur</td>
            <td>1258</td>
            <td>Fall</td>
            <td>Modou</td>
            <td>Service 1</td>
            <td>30-06-2018</td>
            <td>09-07-2018</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <th>Diplôme de Médécine</th>
            <td>Equivalence </td>
            <td>Ministère de la santé</td>
            <td>1934</td>
            <td>Sarr</td>
            <td>Ousmane</td>
            <td>Service 2</td>
            <td>30-06-2018</td>
            <td>11-07-2018</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <th>Diplôme de Comptabilité</th>
            <td>Reclassement </td>
            <td>Ministère de l'enseignement supérieur</td>
            <td>1100</td>
            <td>Diallo</td>
            <td>Fatimata</td>
            <td>Service 1</td>
            <td>01-07-2018</td>
            <td>11-07-2018</td>
          </tr>
        </tbody>
      </table>
        </div>
    </div>
</div>
    