<div class="card">
    <div class="card-body">
        
    <div *ngIf="isLoaded" style="text-align: center;">
        <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
        <span>{{ page }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>

    <pdf-viewer [src]="pdfurl"
                [show-all]="false"
                [page]="page"
                [original-size]="true"
                [render-text]="true"
                (after-load-complete)="afterLoadComplete($event)">
    </pdf-viewer>
    </div>
</div>