<div class="card border-light sticky-top">
    <selector-header></selector-header>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
          <br>
          <!--
              Menu Principale module noyau
          -->
          <div class="card text-white mb-1">
            <div class="card-body">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                   aria-controls="v-pills-users" aria-selected="false" routerLink="/noyau/dashboad/">
                    Accueil </a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-users" #userRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/users/">
                    Utilisateur </a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-diplomes" #diplomeRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/diplomes">
                    Diplômes</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-grades" #gradRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/grades">
                    Grades</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-organigramme" #organigrammeRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/organigramme">
                   Organigramme</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-sanction" #sanctionRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/sanction">
                    Sanction</a>
              </div>
            </div>
          </div>
          <br>
          <br>
          
          <!--
              Sous Menu utilisateur
          -->
          <div class="card text-white mb-1" [hidden]="!userRouterLink.isActive">
            <div class="card-body">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                  routerLink="/noyau/users/user-center"  role="tab"
                  aria-controls="v-pills-user" aria-selected="false">Utilisateur</a>
                  <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                  routerLink="/noyau/users/group" role="tab"
                  aria-controls="v-pills-group" aria-selected="false">Groupe</a>
              </div>
            </div>
          </div>
            
            <!--
              Sous Menu organigramme
            -->
            <div class="card text-white mb-1" [hidden]="!organigrammeRouterLink.isActive">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/ecole"  role="tab"
                        aria-controls="v-pills-ecole" aria-selected="false">ecole</a>

                        <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/administratif" role="tab"
                        aria-controls="v-pills-administratif" aria-selected="false">administratif</a>

                        <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/sante"  role="tab"
                        aria-controls="v-pills-sante" aria-selected="false">sante</a>

                        <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/technique" role="tab"
                        aria-controls="v-pills-technique" aria-selected="false">technique</a>

                        <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/inspection"  role="tab"
                        aria-controls="v-pills-inspection" aria-selected="false">inspection</a>

                        <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/etat-major"  role="tab"
                        aria-controls="v-pills-etat-major" aria-selected="false">etat-major</a>
                        <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/mobile" role="tab"
                        aria-controls="v-pills-mobile" aria-selected="false">mobile</a>

                        <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                        routerLink="/noyau/organigramme/territorial" role="tab"
                        aria-controls="v-pills-territorial" aria-selected="false">territorial</a>
                    </div>
                </div>
            </div>

            <!--
              Sous Menu sanction
            -->
            <div class="card text-white mb-1" [hidden]="!sanctionRouterLink.isActive">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                      routerLink="/noyau/sanction/punition"  role="tab"
                      aria-controls="v-pills-user" aria-selected="false">Punition</a>
                      <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                      routerLink="/noyau/sanction/recompense" role="tab"
                      aria-controls="v-pills-group" aria-selected="false">Recompense</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="card border-light">
              <div class="card-body" style="padding: 0rem; margin: 0rem;">
                <router-outlet></router-outlet>                
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

