<div class="card border-light sticky-top">
    <selector-header></selector-header>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3">
          <br>
          <!--
              Menu Principale module noyau
          -->
          <div class="card text-white mb-1" style="max-width: 18rem;">
            <div class="card-body">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                   aria-controls="v-pills-users" aria-selected="false" routerLink="/noyau/dashboad/">
                    Accueil </a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-users" #userRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/users/">
                    Utilisateur </a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-graduation" #graduatonRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/graduation">
                    Graduation</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-unite" #commandRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/unite">
                    Commandemant</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-sanction" #sanctionRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/sanction">
                    Sanction</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-diplomes" #sanctionRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/diplomes">
                    Diplômes</a>
                  <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                  aria-controls="v-pills-grades" #sanctionRouterLink="routerLinkActive"
                  aria-selected="false" routerLink="/noyau/grades">
                    Grades</a>
              </div>
            </div>
          </div>
          <br>
          <br>
          
          <!--
              Sous Menu utilisateur
          -->
          <div class="card text-white mb-1" style="max-width: 18rem;" [hidden]="!userRouterLink.isActive">
            <div class="card-body">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" data-toggle="pill" routerLinkActive="active"
                  routerLink="/noyau/users/user-center"  role="tab"
                  aria-controls="v-pills-user" aria-selected="false">Utilisateur</a>
                  <a class="nav-link"  data-toggle="pill" routerLinkActive="active"
                  routerLink="/noyau/users/group" role="tab"
                  aria-controls="v-pills-group" aria-selected="false">Groupe</a>
              </div>
            </div>
          </div>

            <!--
              Sous Menu graduation
            -->
            <div class="card text-white mb-1" style="max-width: 18rem;" [hidden]="!graduatonRouterLink.isActive">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        
                    </div>
                </div>
            </div>
            
            <!--
              Sous Menu commandemant
            -->
            <div class="card text-white mb-1" style="max-width: 18rem;" [hidden]="!commandRouterLink.isActive">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        
                    </div>
                </div>
            </div>

            <!--
              Sous Menu sanction
            -->
            <div class="card text-white mb-1" style="max-width: 18rem;" [hidden]="!sanctionRouterLink.isActive">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="card border-light">
              <div class="card-body">
                <router-outlet></router-outlet>                
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

