<div class="container">
  	<br><hr><br>
  <div class="row">
    <div class="col">
      <h2 align="left">Stages en cours</h2><br><br>
      <h6 align="left">Stages internes Gendarmerie: 5</h6><br>
      <h6 align="left">Stages externes au Sénégal: 10</h6><br>
      <h6 align="left">Stages hors du Sénégal: 2</h6><br>
    </div>
    <div class="col">
      <h2 align="left">Personnel en stage</h2><br><br>
      <h6 align="left">Officiers: 10</h6><br>
      <h6 align="left">Sous-Officiers: 12</h6><br>
    </div>
  </div>
</div>