<div class="shadow-lg p-1 text-white bg-primary">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                    <div class="col-sm-2">
                        <img src="assets/images/logo_gend_sn.png" width="50" height="60" alt="...">   
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            
                        </div> 
                        <br>
                        <div class="row">
                            <h5>Gendarmerie Nationale</h5>
                        </div>
                    </div>
                </div>
        </div>

        <div class="offset-sm-6 col-sm-2">
            <div class="row">
                <div class="col-sm-2">
                    <img class="rounded-circle" src="assets/images/profile-icon.png" width="60" height="60" alt="...">   
                </div>
                <div class="offset-sm-3 col-sm-4">
                    <div class="row">
                        Chef
                    </div> 
                    <div class="row">
                        <span class="text-danger">Déconnexion</span>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>