<div>
  <div>
    <form>
      <div class="form-row">
        <div *ngIf="errormsg" class="form-group col-md-12">
            <div class="alert alert-danger" role="alert">
                {{errormsg}}
            </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputUsername">Nom d'utilisateur</label>
          <input type="username" class="form-control form-control-sm" required
            placeholder="nom d'utilisateur" name="username" [(ngModel)]="userForm.username">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputPassword">Mot de passe</label>
          <input type="password" class="form-control form-control-sm" 
            placeholder="mot de passe" name="password" [(ngModel)]="userForm.password">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">Agent :</div>
        <div *ngIf="agentName">
            <span class="badge badge-info">{{agentName}}</span><br/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <select class="form-control form-control-sm" (change)="showAgent($event.target.value)" name="agent" [(ngModel)]="userForm.agent">
            <option #spy *ngFor="let agent of allAgent" [value]="agent._id" > {{agent?.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-row" [hidden]="userForm.active === undefined">
          <div class="form-group col-md-12">
            <label for="inputActive">Status</label>
            <select class="form-control form-control-sm" class="form-control form-control-sm" 
                  name="active" [(ngModel)]="userForm.active">
                <option [value]="true" >actif</option>
                <option [value]="false" >inactif</option>
              </select>
          </div>
        </div>
<!--
      <div class="form-group row">
          <div class="col-sm-2">Role :</div>
          <div *ngFor="let rule of userForm.role">
              <span class="badge badge-info">{{rule}}</span><br/>
          </div>
      </div>
-->
      <div class="form-group row">
          <div class=" col-sm-12">
            <label >Role :</label>
            <select class="form-control form-control-sm" name="agent" [(ngModel)]="userForm.role">
                <option *ngFor="let roles of allRules; let i = index" [value]="roles" > {{roles}}</option>
            </select>
          </div>
      </div>
      <div class="form-group row" [hidden]="action !== 'ajouter'">
        <div class="col-sm-12">
          <button type="submit" (click)="addUsers()" class="btn-sm btn-block btn-primary">Enregister</button>
        </div>
      </div>

      <div class="form-group row" [hidden]="action !== 'modifier'">
          <div class="col-sm-12">
            <button type="submit" (click)="updateUsers()" class="btn-sm btn-block btn-primary">Modifier</button>
          </div>
      </div>
    </form>

  </div>
</div>
