<div class="card border-light sticky-top">
    <selector-header></selector-header>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-3">
                <br>
                <!--
                    Menu Principale module dcc
                -->
            <div class="card text-white mb-1" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-users" aria-selected="false" routerLink="/dcc/dashboad/">
                            Accueil </a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-users" #decorRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/dcc/decoration/">
                            Decoration </a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-graduation" #gradRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/dcc/grade">
                            Grade</a>
                        <a class="nav-link" data-toggle="pill" role="tab" routerLinkActive="active"
                        aria-controls="v-pills-unite" #sanctRouterLink="routerLinkActive"
                        aria-selected="false" routerLink="/dcc/sanction">
                            Sanction</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="card border-light">
                    <div class="card-body">
                        <router-outlet></router-outlet>                
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
    