<style>
    .fixedcard {
        max-height:300px;
        overflow:auto;
    }
</style>
<div>
    <div >
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 text-center">
            <h2>Gestion des archives</h2>
            </div>
        </div>
<!--
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-4" for="categorie">Lister Par Categorie</label>
                        <div class="col-5">
                            <select class="form-control form-control-sm" name="categorie">
                                <option [value]="''" >Categorie ...</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless" style="padding: 0rem; margin: 0rem;">
                            <tbody>
                                <tr>
                                    <th>
                                        <select class="form-control form-control-sm" name="status">
                                            <option [value]="'numero'" >Numero</option>
                                            <option [value]="'libelle'">Libelle</option>
                                            <option [value]="'categorie'">categorie</option>
                                        </select>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" placeholder="recherche ...">
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm">Imprimer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="col-md-12 table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">numero</th>
                                <th scope="col">categorie</th>
                                <th scope="col">libelle</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                
                        <tbody class="fixedcard" *ngIf="archiveList.length">
                            <tr *ngFor="let archive of archiveList, let i = index">
                                <td>{{i}}</td>
                                <td>{{archive?.numero}}</td>
                                <td>{{archive?.Categorie}}</td>
                                <td>{{archive?.libelle}}</td>
                                <td><span class="badge badge-primary mouse" (click)="showarchive(archive)" data-toggle="modal" data-target="#archiveModal">
                                        details
                                </span></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!archiveList.length">
                            <tr>
                                <td></td>
                                <th></th>
                                <td></td>
                                <td>Vide</td>
                                <th></th>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    -->
    <archive-document></archive-document>
    </div>
</div>